@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}
.text-20px {
    font-size: 20px;
}
.text-underline {
    text-decoration: underline;
}
.fslightbox-source {
    padding: 0 1rem;
    object-fit: contain;
    object-position: center;
}
.navbar {
    height: 65px;
}

.top-0 {
    top: 0;
}
.left-0 {
    left: 0;
}